.c-loading {
  text-align: center;

  & .snake {
    animation: c-loading-snake-rotate 0.8s infinite linear;
    border-width: dpr(4px);
    border-style: solid;
    border-color: transparent;
    border-top-color: color(#38adff lightness(80%));
    border-left-color: color(#38adff lightness(80%));
    border-bottom-color: color(#38adff lightness(80%));
    border-radius: 50%;
    width: dpr(50px);
    height: dpr(50px);
    display: inline-block;
  }

  & .xlarge {
    width: dpr(40px);
    height: dpr(40px);
  }

  & .large {
    width: dpr(30px);
    height: dpr(30px);
  }

  & .small {
    width: dpr(20px);
    height: dpr(20px);
  }

  & .xsmall {
    width: dpr(10px);
    height: dpr(10px);
  }
}

@keyframes c-loading-snake-rotate {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
